<template>
  <div>
    <div id="nav-container">
      <Navigation />
    </div>
    <div class="mt-5" id="items-showcase-container">

    </div>
    <div class="mt-2 mx-5" id="search-items-container">
      <div class="d-flex">
        <i v-bind:class="{'la-caret-down': searchItemsOpened, 'la-caret-right': !searchItemsOpened}" v-on:click="toggleSearchItemsView()"
        class="las text-light mt-2 mr-2" clickable></i>
        <h2 class="text-light">Search items</h2>
      </div>
      <div id="itemSearchInputContainer" v-if="searchItemsOpened">
        <div class="d-flex mt-3" >
          <div class="mr-2">
            <label class="text-light">Item Name</label>
            <input type="text" class="form-control" placeholder="Name" v-model="searchValues.name"/>
          </div>
          
          <div class="mx-2">
            <label class="text-light">App Id</label>
            <input type="number" class="form-control" placeholder="App Id" v-model="searchValues.appId"/>
          </div>
          
          <div class="mx-2">
            <label class="text-light">Min Price</label>
            <input type="number" class="form-control" placeholder="Min. Price" v-model="searchValues.minPrice" />
          </div>

          <div class="mx-2">
            <label class="text-light">Max Price</label>
            <input type="number" class="form-control" placeholder="Max. Price" v-model="searchValues.maxPrice" />
          </div>

          <div class="mx-2">
            <label class="text-light">Min Available</label>
            <input type="number" class="form-control" placeholder="Min. Avail" v-model="searchValues.minQt" />
          </div>

          <div class="mx-2">
            <label class="text-light">Max Available</label>
            <input type="number" class="form-control" placeholder="Max. Avail" v-model="searchValues.maxQt" />
          </div>

          <div class="mx-2">
            <label class="text-light">Max Results</label>
            <input type="number" class="form-control" placeholder="Max. Results" v-model="searchValues.maxResults" />
          </div>

          <div class="mx-2 ">
            <label class="text-light">Image-Loading</label>
            <div class="d-flex">
              <input type="checkbox" style="margin-top: 0.75em;" v-model="loadImages" />
              <label class="text-light form-check-label ml-2" style="white-space:nowrap; margin-top: 0.4em;" >Load Images</label>
            </div>
          </div>
          
          <div class="ml-auto">
            <div>
              <label class="text-light" style="opacity: 0;">Action</label>
            </div>
            <button class="btn btn-primary" v-on:click="createRequest()">Search</button>
          </div>

          
        </div>
        <div class="mt-3">
          <div v-if="loadImages" class="text-warning my-1" style="font-style: italic; opacity: 0.7;">Loading items will take longer when Image-Loading is enabled. Disable if you are just interested in data.</div>
          <table class="table table-dark" scrollable>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">App</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in itemResults" :key="item.id">
                <th scope="row">{{index}}</th>
                <td>{{item.imgSrcURI}}</td>
                <td>{{item.name}}</td>
                <td>{{item.appId}}</td>
                <td>{{item.price}}</td>
                <td>{{item.quantity}}</td>
                <td>
                  <i class="las la-copy mr-1" clickable></i>
                  <i class="las la-external-link-alt mx-1" clickable></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
    </div>
  </div>
</template>

<script>
import Navigation from './Navigation.vue'

export default {
  name: 'Home',
  components: {
    Navigation
  },
  data(){
    return {
      searchItemsOpened: true,
      loadImages: true,
      searchValues: {
        name: '',
        appId: '',
        minPrice: 0,
        maxPrice: null,
        minQt: 0,
        maxQt: null,
        maxResults: 100
      },
      itemResults: [ ]
    }
  },
  methods: {
    toggleSearchItemsView: function() {
      if(this.searchItemsOpened == true){
        this.searchItemsOpened = false;
      }
      else{
        this.searchItemsOpened = true;
      }
    },
    createRequest: async function() {
      console.log('started');
      //https://steamcommunity.com/market/search/render/?query=&start=210&count=10&search_descriptions=0&sort_column=price&sort_dir=asc
      // let baseUrl = "https://steamcommunity.com/market/search/render/?query="
      let paramStartIndex = 0;
      let paramCount = 100;
      let paramSearchDescriptions = 0;
      let paramSortColumn = "price";
      let paramSortDir = "asc";

      let urlPath = "market/search/render/?query=" + (
        "&start=" + paramStartIndex +
        "&count=" + paramCount + 
        "&search_description=" + paramSearchDescriptions +
        "&sort_column=" + paramSortColumn + 
        "&sort_dir=" + paramSortDir
      )

      for(let i = paramStartIndex; i < this.searchValues.maxResults; i += paramCount){
        await this.steamRequest(urlPath);
      }

    },
    steamRequest: async function(url){
      await fetch("http://127.0.0.1:3000/" + url).then(data => console.log(data));
    }
  }
}
</script>