<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark d-flex">
            <img src="/images/steam-icon.png" class="mr-2" />
            <a class="navbar-brand" href="">Steam Community Market Helper</a>
            <small>developed by Eldar Omerovic</small>
        </nav>
    </div>
</template>
<script>
export default {
  name: 'Navigation',
  icon: 'images/steam-icon.png'
}
</script>