nav > img {
  height: 2em;
}

nav > small {
  color: #485460;
  margin-top: 0.6em;
}

h2 {
  font-size: 1.5em;
}

[clickable] {
  cursor: pointer;
}

#itemSearchInputContainer [type="number"] {
  width: 10em;
}

[scrollable] {
  overflow: auto;
}
